// Common variables
// colors
$body-color: lighten(#989898, 30%);
$primary-color: initial; // default: lightblue
$secondary-color: initial; // default: coral
$button-color: magenta;

// sizes
$base-width: 1000px;
$base-paddings: 40px;